
body {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  color: black;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-size: 100px;
  color: white;
  text-shadow: 12px 12px 16px black;
}

img {
  height: 400px;
}

.radioButton {
  text-align: center;
}

.container {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 30px;
}
